{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <h1>Home page</h1>
        <p>Display a map here with events on it?</p>
    {% endblock %}
{% endblock %}